body {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.banner {
    background-image: url('images/Banner.png');
    background-size: cover;
    background-position: center;
    height: 500px;
    width: cover;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: flex-start;
    padding-left: 50px;
    align-items: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba (0,0,0,0.7);
    padding-left: 150px;
}

.container {
    background-color: rgb(109, 168, 244) 60% transparent;
    border-radius: 10%;
    backdrop-filter: blur(2px);
    width: 600px;
    height: 200px;
    align-items: center;
    padding: auto;
    font-size: 25px;
}

.cta-button {
    background: linear-gradient(45deg, #202020, #3c3c3b);
    color: white !important;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 50px;
    display: inline-block;
    box-shadow: 0 8px 25px rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.cta-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(71, 71, 70, 0.6);
    background: linear-gradient(45deg, #3e3d3c, #5e5e5d);
}

.intro {
    background-color: white;
    border-radius: 0;
    width: cover;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 509px;
    flex-direction: column;
}

.video-container {
    /* align-content: center; */
    /* max-height: 400px; */
    max-width: 700px;  
}

.aboutme {
    text-align: left;
    position: left;
    max-width: 600px;
    margin-left: 10px;
    line-height: 30px;
}

.cards-container1 {
    display: flex;
    gap: 20px;
    width: cover;
    margin: 100px;
    padding: 0 20px;
    align-items: center;
}

.card1 {
    background-color: rgb(0, 0, 0);
    border-radius: 0;
    padding: 25px;
    flex-direction: column;
    text-align: center;
    height: 500px;
    width: 400px;
    display: flex
}

.card1 img {
    width: 400px;
    height: 500px;
    border-radius: 0px;
    margin: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    object-fit: cover;
}

.text1 {
    text-align: center;
    margin: auto;
    padding: auto;
    color: white;
    width: 1500px;
    line-height: 30px;
    font-size: 20px;
}

footer {
    background: linear-gradient(135deg, #6e6753 0%, #a8a280 100%); 
    color: #e0e6ed;
    padding: 60px 20px 30px;
    display: flex;
    flex-direction: column;
    margin-top: 20px
}

.footer-section {
    display: flex;
    justify-content: space-between;
}

.footer-section h3 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
    max-width: 500px;
}

.footer-section p {
    line-height: 2;
    opacity: 0.8;
    max-width: 500px;
}

.left {
    flex-direction: column;
}

.right {
    flex-direction: column;
}

.middle {
    flex-direction: column;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.home {
    background: linear-gradient(45deg, #38475e, #4f5373);
    padding: 10px;
    border-radius: 50px;
}

.information {
    background: linear-gradient(45deg, #38475e, #4f5373);
    padding: 10px;
    border-radius: 50px;
}

.services {
    background: linear-gradient(45deg, #38475e, #4f5373);
    padding: 10px;
    border-radius: 50px;
}

.destinations {
    background: linear-gradient(45deg, #38475e, #4f5373);
    padding: 10px;
    border-radius: 50px;
}

.footer-links li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.footer-links li :hover {
    background: linear-gradient(45deg, rgb(78, 130, 169), rgb(122, 169, 187));
    transform: translateY(-3px) scale(1.1);
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
}

.social-icons {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 50px;
    gap: 20px;
}

.social-icon:hover {
  transform: translateY(-